<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/items.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('items.items') }}">Lost and Found</a></li>
                <li><a href="{{ url_for('post_item.post_item') }}">Post an Item</a></li>
                <li><a href="{{ url_for('contact_us.contact_us')}}">Contact Us</a></li>
                <li><a href="{{ url_for('about_us')}}">About Us</a></li>
            </ul>
            <a href="{{ url_for('admin.admin_login')}}" class="login-button">Admin</a>
        </nav>
    </header>

    <div class="image-section">
        <h1>Lost and Found Items</h1>
    </div>

        <div class="search-bar">
        <form action="{{ url_for('items.items') }}" method="GET">
            <input type="text" name="query" placeholder="Search for items..."
                value="{{ request.args.get('query', '') }}">
            <button type="submit">Search</button>
        </form>
    </div>
    
    <div class="container">
        {% for item in items %}
            <div class="item-card">
                {% if item['image_path'] %}
                    <img src="{{ url_for('static', filename='uploads/' + item['image_path']) }}" alt="Image of {{ item['item_name'] }}">
                {% endif %}
                <h3>{{ item['item_name'] }}</h3>
                <p><strong>Item ID:</strong> {{ item['id'] }}</p>
                <p><strong>Description:</strong> {{ item['description'] }}</p>
                <p><strong>Location Found:</strong> {{ item['location'] }}</p>
                <p><strong>Date Found:</strong> {{ item['date_found'] }}</p>
            </div>
        {% endfor %}
    </div>
    
</body>
</html>
